<div class="main-content">
    <div class="container-fluid">
        <div class="row">
             <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Öğrenci Ekle</h5>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right btn-group">
                                    <button class="btn">Ekle</button>
                                    <button class="btn">Kapat</button>
                                   </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>İsim</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Soyisim</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>TC Kimlik No</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Okul No</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Bölümü</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Alanı</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>sınıfı</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>İşyeri Adı</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Usta Öğretici</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Koordinatör Öğretmen</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>  
             <div class="col-md-8">
               <div class="card">
                <div class="header">
                    <h5>Öğrenci Bilgisi</h5>
                </div>
                <div class="content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
               </div>
             </div>        
        </div>
    </div>
</div>
