<div class="main-content" >
    <div class="container-fluid">
      
     
            <div class="row" >
              <div class="col-md-12">
                <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Koordinatör Öğretmen Ekle</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right btn-group">
                                <button class="btn" (click)="showNotification('top','center')">Koor. Öğrt Ekle</button>
                                <button class="btn">Kapat</button>
                               </div>
                        </div>
                    </div>
                    
                   
                </div>
                <div class="content">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                          <label>İsim</label>
                          <input type="text" class="form-control" >
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                          <label>Soyisim</label>
                          <input type="text" class="form-control"  >
                      </div>
                  </div>
                   <div class="col-md-2">
                      <div class="form-group">
                          <label>TC Kimlik</label>
                          <input type="text" class="form-control"  >
                      </div>
                  </div>
                   <div class="col-md-2">
                      <div class="form-group">
                          <label>Unvanı</label>
                          <select class="form-control">
                            <option>Seçiniz</option>
                          </select>
                      </div>
                  </div>
                   <div class="col-md-2">
                      <div class="form-group">
                          <label>Branşı</label>
                          <select class="form-control">
                            <option>Seçiniz</option>
                          </select>
                      </div>
                  </div>
                   <div class="col-md-2">
                      <div class="form-group">
                          <label>bos</label>
                          <input type="text" class="form-control"  >
                      </div>
                  </div>

                  </div>
                  
                 
                </div>
                
              </div>
              </div>
          </div>
      
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Öğretmen Bilgisi</h5>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right btn-group">
                                   <button class="btn btn-danger">Personel Ekle</button>
                                   </div>
                            </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Öğretmen Adı Soyadı</th>
                                <th>Unvanı</th>
                                <th>Branşı</th>
                                <th>İşyeri Sayısı</th>
                                <th>Öğrenci Sayısı</th>
                                <th></th>
                            </tr>
                        </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>
